<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

<head>
    <meta charset="utf-8">
    <title>One Million Forum</title>

</head>
<body>
    <div id="header">
        <div class="container">
            <div class="float-left">
                <p id="logo"> One Million Forum </p>
            </div>
            <div class="float-right">
                <p id="logoff-menu"> Profile - Logout </p>
            </div>
        </div>
    </div>



    <div id="main">
        <div class="container">
            <div class="float-left">
                <div class="side-bar">
                    <p> All Topics</p>
                    <p> My Topics </p>
                    <p> Members </p>
                    <p> Logout </p>
                </div>
            </div>

            <div class="float-right">
                <p class="description"> Create New Post </p>
                <table style="width:100%">
                  <tr>
                    <th>Topic #</th>
                    <th>Content</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  <tr>
                    <th>Topic #</th>
                    <th>Content</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  <tr>
                    <th>Topic #</th>
                    <th>Content</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="footer"></div>


</body>

